body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#mainContainer{
    width: 100%;
    height: 100%;
    display: flex;

    /*Center div*/
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#mainContainer h1{
    color: #0C535F;
    margin-right: 180px;
    font-size: 15px;
    font-weight: 100;
}

#mainContainer #container{
    display: flex;
    justify-content: space-between;

    width: 300px;
    height: 70px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
    -moz-appearance: textfield;
}

#mainContainer #container input{
    width: 40px;
    height: 70px;
    padding: 8px;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #0C535F;
    border-radius: 4px;
}

#mainContainer #container input:hover{
    transform: scale(1.05, 1.05);
    border: 1.5px solid #0C535F;
    box-shadow: 0px 0px 10px 0px #80808082;
}